<mat-dialog-content>
  <div class="header">
    <div class="dropdown">
      <mat-form-field>
        <mat-select class="medicine-dropdown" [(ngModel)]="selectedCategory" (selectionChange)="onCategoryChange()">
          <mat-option value="">All Categories</mat-option>
          <mat-option value="Oil">Oil</mat-option>
          <mat-option value="Herbal Supplement">Herbal Supplement</mat-option>
          <mat-option value="Liver Care">Liver Care</mat-option>
          <mat-option value="Pain Relief">Pain Relief</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <form class="example-form" (ngSubmit)="searchMedicine()">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Search here"
          class="search-input"
          [(ngModel)]="searchString"
          name="searchInput"
          required
          (input)="onSearchInputChange()"  
        />
      </mat-form-field>
      <button class="search-button" type="submit">Search</button>
    </form>

    <button class="close-button" (click)="closeDialog()">X</button>
  </div>

  <div *ngIf="searchResults.length === 0" class="medicine-container">
    <h3>Frequently Browsed</h3>
    <ul>
      <li><a href="#"><i class="fas fa-boxes"></i> Purchase</a></li>
      <li><a href="#"><i class="fas fa-walking"></i> eOrders</a></li>
      <li><a href="#"><i class="fas fa-file-alt"></i> Margin Report</a></li>
      <li><a href="#"><i class="fas fa-exchange-alt"></i> Business Insights</a></li>
      <li><a href="#"><i class="fas fa-undo"></i> Sales Return</a></li>
      <li><a href="#"><i class="fas fa-file-alt"></i> Reports</a></li>
    </ul>
  </div>

  <div *ngIf="searchResults.length > 0">
    <h3>Search Results</h3>
    <ul>
      <li *ngFor="let item of searchResults">
        <div class="product-info">
          <img *ngIf="item.imageUrl" [src]="item.imageUrl" alt="{{ item.name }}" class="product-image"/>
          <span>{{ item.name }} - {{ item.form }}</span>
          <button mat-icon-button (click)="addToCart(item)" class="cart-button">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</mat-dialog-content>
